@import url('https://fonts.googleapis.com/css2?family=Orelega+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orelega+One&family=Roboto+Mono:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@700&display=swap');

.App {
  padding: 2em 0 0 0;
}

.arrow-up {
  opacity: 0.5;

  max-width: 10%;
  position: fixed;

  bottom: 3%;
  right: 5%;
}

/* ---------------------Header--------------------- */

hr {
  border-color: gray !important;
  border-radius: 1em;
  border-style: none !important;
  border-top-style: solid !important;
  border-width: .7em !important;
  height: 1em !important;

  margin: 1em auto 1em !important;
  max-width: 65%;
}

nav {
  background-image: url('./images/dollar.jpg');
  background-attachment: fixed;
  text-align: center;

  padding-bottom: 2em;
}

.navbar {
  border-radius: 1em;

  padding-top: 2em;
}

#navbar-outline {
  background-color: rgb(15, 40, 15) !important;
}

#nav-brand {
  color: rgb(0, 125, 32);
  font-size: 175%;
  font-weight: bold;

  animation-name: hover-off;
  animation-duration: .4s;

  text-shadow: 3px 3px black;
}

#nav-brand:hover {
  color: rgb(0, 200, 35);

  animation-name: hover;
  animation-duration: .4s;
}

#nav-link {
  color: rgb(0, 125, 35);
  font-size: 150%;
  font-weight: 700;

  animation-name: hover-off;
  animation-duration: .4s;

  text-shadow: 3px 3px black;

  margin-left: .5em;
  margin-right: .5em;
}

#nav-link:hover {
  color: rgb(0, 200, 35);

  animation-name: hover;
  animation-duration: .4s;
}

#nav-container {
  background-color: rgb(15, 20, 15);
  border-radius: .7em;
}

/* ---------------------Header Text--------------------- */

#container-card {
  background-image: linear-gradient(45deg, rgba(0, 80, 35, 0.7), rgba(0, 255, 35, 0.7));
  background-size: 200% 200%;
  border: .3em solid rgba(0, 90, 35, 0.9);
  border-radius: 2em;

  padding: 3em;
  margin: 2em 0 0 2em;
  max-width: 65%;
}

#header-h2 {
  color: white;
  font-family: 'Orelega One', cursive;
  font-size: 4.5em;

  text-shadow: 2px 2px black;
  padding-bottom: .5em;
}

#header-p {
  color: white;
  font-family: 'Roboto Mono', monospace;
  font-size: 2em;

  text-shadow: 2px 2px black;

  margin: 0 auto 0 !important;
}

/* ---------------------Sidebar--------------------- */

#sidebar {
  background-image: linear-gradient(45deg, rgba(0, 80, 35, 0.9), rgba(0, 255, 35, 0.9));
  border: .3em solid rgba(0, 90, 35, 0.9);
  border-radius: 2em;
  color: white;
  font-family: 'PT Sans', sans-serif;
  text-shadow: 1.3px 1.3px black;

  padding: 1.3em;
  position: absolute;
  width: 27%;

  top: 21%;
  right: 4%;
}

/* ---------------------Middle Section--------------------- */

#middle-section {
  background-color: rgba(0, 255, 35, 0.7);

  text-align: center;
}

#middle-section-h2 {
  font-family: 'PT Sans', sans-serif;
  font-size: 3em;

  text-shadow: 2px 2px black;

  padding: 2em 0 2em 0;
}

/* ---------------------Animations--------------------- */

@keyframes hover {
  0% { color:rgb(0, 125, 35); }
  100% { color: rgb(0, 200, 35); }
}

@keyframes hover-off {
  0% { color: rgb(0, 200, 35); }
  100% { color: rgb(0, 125, 35); }
}